/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Freemono', cursive;
}

/* header styles */

h1 {
  font-size: 30px;
  text-align: center;
}

/*.parrafo{
  font-family: 'Bangers', cursive;
}*/

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}

#a {
  background-color: red;
  width: 33%;
  float: left
}

#b {
  background-color: gold;
  width: 33%;
  float: left
}

#c {
  background-color: green;
  width: 33%;
  float: left;
}
